{#
/**
 * @file phones_contact.html.twig
 * Default theme implementation to present Phones contact data.
 *
 * This template is used when viewing Phones contact pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_phones_contact()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('phones_contact') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
