{#
/**
 * @file phones_call.html.twig
 * Default theme implementation to present Phones call data.
 *
 * This template is used when viewing Phones call pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_phones_call()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('phones_call') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
